/*-----------------------------------*\
  # style.css
\*-----------------------------------*/


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
   * colors
   */

    --raisin-black-2: #22262a;
    --raisin-black-1: #004581;
    --majorelle-blue: #004581;
    --ghost-white-1: #fafaff;
    --ghost-white-2: #dde8f0;
    --white-opacity: #ffffff80;
    --independence: #3b3951;
    --lavender-web: #ece9fb;
    --eerie-black: #22262a;
    --cool-gray: #8d8bac;
    --sapphire: #0056b3;
    --white: #ffffff;

    /**
   * typography
   */

    --ff-quicksand: "Quicksand", sans-serif;
    --ff-mulish: "Mulish", sans-serif;

    --fs-1: 36px;
    --fs-2: 28px;
    --fs-3: 20px;
    --fs-4: 17px;
    --fs-5: 16px;
    --fs-6: 15px;
    --fs-7: 14px;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /**
   * transition
   */

    --transition: 0.25s ease;

    /**
   * spacing
   */

    --section-padding: 50px 5%;

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon,
textarea {
    display: block; 
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

input,
textarea {
    border: none;
    font: inherit;
    width: 100%;
}

html {
    font-family: var(--ff-quicksand);
    scroll-behavior: smooth;
}

body {
    background: var(--white);
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
    padding-inline: 15px;
}

.h1,
.h2,
.h3 {
    color: var(--independence);
    font-family: var(--ff-mulish);
    line-height: 1.2;
}

.h1 {
    font-family: var(--ff-mulish);
}

.h1 {
    font-size: var(--fs-1);
}

.h2 {
    font-size: var(--fs-2);
}

.h3 {
    font-size: var(--fs-3);
}

.btn {
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 10px 15px;
    border-radius: 4px;
    transition: var(--transition);
}

.btn:is(:hover, :focus) {
    transform: translateY(-2px);
}

.btn-primary {
    background: var(--majorelle-blue);
    color: var(--white);
}

.btn-primary:is(:hover, :focus) {
    --majorelle-blue: #4c3fd9;
    box-shadow: 0 3px 10px #5c50dc80;
}

.btn-outline {
    border: 1px solid var(--majorelle-blue);
    color: var(--majorelle-blue);
}

.btn-outline:is(:hover, :focus) {
    background: var(--majorelle-blue);
    color: var(--white);
    box-shadow: 0 3px 10px #5c50dc80;
}

.btn-secondary {
    background: #5c50dc26;
    color: var(--majorelle-blue);
}
.btn-logOut{
    display: block;
    margin-left: 10%;
    margin-top: 10px;
    background: #eb3838;
    color: #fff;
}
.btn-logOut:hover{
    background-color: red;
}
.btn-logOut i{
    padding-right: 5px;
}
.section-title {
    text-align: center;
}

.section-text {
    color: var(--cool-gray);
    font-size: var(--fs-6);
    line-height: 1.7;
    text-align: center;
}

.card{
    padding: 40px 3%;
    border-radius: 10px;
    box-shadow: 0 3px 7px #5c50dc80;
    width: 100%;
    color: var(--majorelle-blue);
}

.box {

    background-color: #fff;
    box-shadow: 0 3px 7px #5c50dc80;
    border-radius: 10px;
    margin-top: 30px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--majorelle-blue);
    padding: 10px 5%;
    position: fixed;
    width: 100%;
    z-index: 10000;
}
#menu{
    padding: 10px 0;
}
.logo{
    height: 40px;
}

.left-nav, .right-nav, .left-nav-mobile, .profile{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: var(--fs-3);
    gap: 15px;
}
.left-nav-mobile{
    display: none;
}
.profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/* CONTENT SECTION */

.content{
    display: flex;
    position: relative;
}

/* SIDE-NAV */

.side-nav{
    padding: 20px 0 0 4%;
    background-color: var(--ghost-white-2);
    width: 270px;
    height: 100vh;
    z-index: 10000;
    top: 60px;
    position: fixed;
    /* display: none; */

}
#side-navs{
    display: block;
}
#mobile-navs{
    display: none;
}

.nav-link{
    padding: 10px 20px;
    color: var(--majorelle-blue);
    font-weight: 600;
    font-size: var(--fs-5);
}
.nav-link i{
    padding-right: 10px;
}
.nav-link:hover{
    border-radius: 5px 0 0 5px;
    background-color: var(--cool-gray);
    color: var(--ghost-white-1);
}
.active{
    border-radius: 5px 0 0 5px;
    background-color: var(--sapphire);
    color: var(--ghost-white-1);
}


/* MAIN CONTENT */
.greeting{
    color: var(--majorelle-blue);
    text-transform: capitalize;
}
.main-content{
    padding: var(--section-padding);
    padding-bottom: 0;
    margin-top: 50px;
    position: absolute;
    right: 0;
    /* top: 0; */
}

#main-content{
    width: calc(100% - 270px);
}
/*  HEADINGS */

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.heading__title{
    color: var(--majorelle-blue);
}
.heading__title--date{
    font-size: 12px;
    padding-left: 5px;
    color: var(--cool-gray);
}





/*  TABLE */

.table-wrapper {
    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 66.4vh;
    margin: 15px;
    margin-top: 30px;
    padding-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
}
table th {
    position: sticky;
    top: 0px;
    background-color: var(--majorelle-blue);
    color: var(--ghost-white-1);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    outline: 0.7px solid #fff;

}
table th,
table td {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table td {
    text-align: left;
    font-size: 15px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 20px;
    color: var(--independence);
    font-weight: 600;
}
table td form button{
    margin: auto;
    color: #fff;
    /* padding: 0px 20px; */

}
.status{
    color: #0bb70b;
    font-weight: 700;
}
.pending{
    color:#faa70e;
    font-weight: 700;
}
/* .action, .act-btn{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: baseline;
} */
.btn-red{
    background-color: #eb3838;
}
.btn-org{
    background-color: #faa70e;
}
.btn-green{
    background-color: #0bb70b;
}
.btn-blue {
    color: #0056b3;
}
act-btn

/* FORM */

.form {
    background-color: #fff;
    box-shadow: 0 3px 7px #5c50dc80;
    border-radius: 10px;
    margin-top: 30px;
}

.errortxt {
    color: var(--majorelle-blue);
    background: #5c50dc80;
    padding: 8px 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--majorelle-blue);
    display: none;
}
.form-sect {
    padding: var(--section-padding);
}

.form-sect h3 {
    /* text-align: center;/'A/ */
    margin-bottom: 20px;
    color: var(--majorelle-blue);
}

.inp {
    background-color: var(--ghost-white-2);
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px #5c50dc80;
    outline: none;
}

label {
    font-weight: bold;
    color: var(--independence);
}

.btn-form {
    display: inline-block;
    /* width: 100%; */
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 2px 5px #5c50dc80;
}

.form-txt {
    text-align: center;
}

.form-txt span a {
    color: var(--majorelle-blue);
    font-weight: 700;
}
.st-inp{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

#taskForm{
    display: none;
}
#plan{
    display: none;
}
.radio-select{
    display: flex;
    gap: 50px;
    margin-top: 10px;
}
.radio-btn{
    display: flex;
    gap: 5px;
}

/* FOOTER */

.footer{
    background-color: var(--ghost-white-2);
    color: var(--majorelle-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0 -6%;
    margin-top: 30px;
    bottom: 0;

}
.footer p{
    display: flex;
    font-weight: 700;
}



/* RATING */

.rating{
    text-align: center;
}
.rate-date{
    text-align: left;
}
.rating h2{
    display: inline-block;
    padding: 10px;
}
.rate-per{
    font-size: 60px;
    display: inline-block;
    padding: 20px;
}
.rating img{
    height: 150px;
    margin: 0 auto;
}


.see-task-btn{
    margin: 30px 0;
    display: flex;
    justify-content: end;
}

.mth{
    margin: 0 auto;
}
.month-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 50px 5%;
}
.month form{
    display: flex;
    justify-content: center;
}
.month button{
    width: 200px;
}



.nt-heading{
    padding: 20px 0;
}
.nt-head{
    display: inline-block;
    margin-bottom: 10px;
}
.nt-date{
    text-align: center;
    text-decoration: underline;
}
.nt-time{
    text-align: right;
    text-decoration: underline;
    padding-right: 15%;
    margin: 10px 0;
}
.nt-note{
    padding: 0 5%;
}



/**
 * responsive for smaller than 768px screen
 */
@media (max-width: 768px) {

.left-nav-mobile{
    display: flex;
}
.left-nav{
    display: none;
}
#side-navs {
    display: none;
}

#main-content {
    width: 100%;
}
#mobile-navs {
    padding: 20px 0 0 4%;
    background-color: var(--ghost-white-2);
    z-index: 10000;
    height: 100vh;
    width: 80vw;
    top: 60px;
    position: fixed;
    display: none;
}
}



















